{% extends 'ShopperShopBundle::layout.html.twig' %}

{% block body %}
    {% for product in products %}
        <article class="blog">
            <div class="date"><time datetime="{{ product.created|date('c') }}">{{ product.created|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('ShopperShopBundle_show', { 'id': product.id }) }}">{{ product.title }}</a></h2>
            </header>

            <img src="{{ asset(['images/', product.image]|join) }}" />
            <div class="snippet">
                <p>{{ product.seller(500) }}</p>
                <p class="continue"><a href="{{ path('ShopperShopBundle_show', { 'id': product.id }) }}">Continue reading...</a></p>
            </div>

            <footer class="meta">
                <p>Comments: -</p>
                <p>Posted by <span class="highlight">{{product.seller}}</span> at {{ product.created|date('h:iA') }}</p>
                <p>Tags: <span class="highlight">{{ product.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>There are no products</p>
    {% endfor %}
{% endblock %}